*,* ::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100vw;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    margin: 0;
    background: #fff;
    color: #000;
    max-width: 100vw;

    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
}

label {
    font-size : 14px;
}

.error {
    color: #FF0000;
    font-size: 9px;
}

.msg-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 12px;
    text-align: center;
    padding: 0;
    margin: 0
}

.msg-success {
    width: 50vw;
    max-width: 200px;
    max-height: 10px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 0.5%;
    background-color: rgb(11, 242, 11);
    color: white;
}

.msg-failure {
    width: 50vw;
    max-width: 150px;
    max-height: 50px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 1%;
    background-color: rgb(243, 55, 55);
    color: white;
}

.form-container{
    width: 100vw;
    max-width: 650px;
    margin: 0 auto;
    border-radius: 10px;
    color: #fff;
    background: white;
    border: 3px solid gray;
    padding: 5%;
}

.input-container{
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding:10px;
    background: gray;
    color: black;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 80%;
    padding: 10px;
    outline: none;
}

.input-field:focus {
    border: 2px solid gray;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: invicible;
    opacity: 1;
    width: 100%;
    max-height: 100%;
    padding: 0px;margin: 0px;margin-top: 10px;
}

.cust-date {
    padding: 10px;
}